html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
    font-family: "Inter";
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;

    a {
        height: 30px;
        margin-top: 20px;
        text-decoration: none;
        white-space: nowrap;
    }
}

.menu-container {
    width: 100%;
    position: relative;
    margin-right: 220px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* padding: 10px 15px; */
    background-color: #DAF5FF;
    color: #1987B0;
    border: none;
    border-radius: 6px;
    outline: none;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}

.menu-btn:hover {
    background-color: #b2eafe;
}

.menu {
    position: absolute;
    top: 15px;
    right: 55px;
    height: 40px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: width 0.3s ease, height 0.3s ease;
    /* background-color: blue; */

}

.menu.open {
    /* padding-right: 50px; */
    width: 530px;
    /* width: 100vw; */
    justify-content: space-around;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu.open ul {
    opacity: 1;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}



.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

button {
    margin: 20px 0 20px;
    padding: 10px 16px;
    background-color: #28A7CF;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-family: 'Inter';
}

button:hover {
    background-color: #FFFFFF;
    color: #28A7CF;
    border: 2px solid #28A7CF;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding-left: 220px;
    /* border-top: 10px solid #28A7CF; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    .section-img {
        width: 40rem;
        border: 10px solid #C3EAF6;
        border-radius: 70%;
    }

    h1 {
        /* margin: 200px 0 0 0px; */
        font-size: 35px;
        margin: 30px 0 10px;
    }

    p {
        color: #4A4C56;
        letter-spacing: 0.1px;
        line-height: 24px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        line-height: 2.0;
        color: #777980;
    }
}

.section-text {
    width: 40rem;
    /* padding-top: 50px; */
    /* padding-top: 10%; */
}

.landing {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-margin: 20px;
    padding-left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        color: #777980;
    }

    h1 {
        font-size: 50px;
    }
}

.landing-text {
    box-sizing: border-box;
    width: 40rem;
    padding-right: 30px;
}

.image-box {
    height: 100%;
    box-sizing: border-box;
    /* position: absolute; */
    width: 1000px;
    /* height: 746px; */
    border-radius: 50%;
    background: linear-gradient(168.48deg, #FFFFFF 3.47%, #60C2E1 140.89%);
    border: 12px solid #C3EAF7;
    /* box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25); */
    display: flex;
    align-items: center;

    #landing-image {
        height: 500px;
        margin: 0 100px 0;
        /* width: 100%;
        margin-right: -120px; */
    }
}

#about-image-box {
    margin-left: -350px;
}


.about,
.whatwedo {
    background-color: #F2FAFD;
}

#brandname {
    margin-left: 220px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

#togglenav {
    transform: scale(1.2);
    /* margin-right: 220px;
    background-color: #DAF5FF;
    color: #1987B0;
    border-radius: 6px; */
}

.about {
    padding-left: 0;
}

#about-text {
    width: 32rem;
    padding-right: 320px;
}

#about-image {
    height: 500px;
    margin-left: 350px;
}

.hidden1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.hidden2 {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-out 0.8s, transform 0.5s ease-out 0.8s;
}

.show {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}

#howwework-image {
    height: 32rem;
    margin-right: 100px;
}

#whatwedo-text {
    width: 35rem;
    padding-right: 5rem;
}

#whatwedo-image {
    height: 22rem;
}

#henry-image {
    height: 22rem;
}

.about-img {
    width: 60rem;
    border: 10px solid #C3EAF6;
    border-radius: 70%;
}

.list-arrow {
    margin-right: 10px;
    color: #1987B0;
    font-weight: bold;
}

.card {
    /* height: 150px; */
    /* width: 46rem; */
    /* width: 736px; */
    padding: 12px 20px;
    margin: 8px 0px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    background-color: #F2FAFD;

    h4 {
        margin: 5px 0;
        /* font-size: 20px; */
    }

    p {
        margin: 5px 0;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .card-img {
        height: 50px;
        padding: 8px 3px 0 0px;
    }

    .card-text {
        border-left: 1px solid #C0EFFF;
        padding-left: 14px;
    }

    h3 {
        margin-top: 0px;
    }
}

.services {
    margin-right: 220px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex-grow: 1;

    .service {
        height: 150px;
        margin: 5px 0;
        padding: 5px 0 10px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
        box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: hidden;

        .service-line {
            width: 80px;
            height: 5px;
            bottom: 0;
            background: linear-gradient(90deg, #00C0FF 0%, #5558FF 100%);
        }

        .price {
            font-size: 20px;
            font-weight: bold;
        }

        .service-image {
            height: 80px;
            margin-top: -27px;
            margin-right: -15px;
        }
    }
}

.henry {
    display: flex;
    align-items: center;
    background-color: #28A7CF;

    h1,
    p {
        color: #FFFFFF;
    }
}

#henrybutton2 {
    background-color: #FFFFFF;
    color: #28A7CF;
    box-sizing: border-box;
}

#henrybutton2:hover {
    background-color: #28A7CF;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

#henry-text {
    padding-top: 0;
    /* width: 32rem; */
    /* height: 100%; */
    padding-right: 320px;
}

.contact {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;

    .contact1 {
        height: 20rem;
        background-color: #FFFFFF;
        overflow-y: visible;
    }
}

.contact2 {
    /* height: 20rem; */
    /* width: 100%; */
    padding: 120px 220px 0;
    flex-grow: 1;
    background-color: #103141;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2,
    h3,
    p,
    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a {
        line-height: 25px;
    }
}

.contact-form {
    margin: 80px 220px 0;
    padding: 10px 30px 15px;
    /* width: 30rem; */
    /* height: 25rem; */
    background-color: #F2FAFD;
    border-radius: 10px;
    z-index: 1;

    .form-contents {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: stretch; */
        gap: 20px;

        .field {
            flex-grow: 1;
            min-width: 300px;
            flex-basis: calc(50% - 10px);
            box-sizing: border-box;

            label {
                font-weight: 500;
            }

            input {
                width: 100%;
                height: 40px;
                padding: 0;
                background: transparent;
                border: none;
                border-bottom: 1px solid #C1C4CA;
            }

            input::placeholder {
                font-size: 15px;
                color: #C1C4CA;
            }
        }

        #submit {
            width: 100%;
            height: 40px;
            margin: 0;
            /* color: #FFFFFF;
            background-color: #28A7CF;
            border: none;
            border-radius: 6px; */
        }
    }
}




@media screen and (max-width: 1100px) {

    .hidden1,
    .hidden2 {
        opacity: 1;
        transform: translateY(0);
        transition: none;
        /* Remove the transition */
    }

    #brandname,
    #togglenav {
        margin: 20px 30px 0;
    }

    .menu-container {
        margin: 0;
    }

    .menu {
        /* position: relative; */
        text-align: center;
        height: 0;
        top: 60px;
        right: 0;
        /* align-items: normal; */
        justify-content: flex-start ;
        flex-wrap: wrap;
        /* width: 0; */
        transition: height 0.3s ease, width 0s;
        background-color: #F2FAFD;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu.open {
        width: 100vw;
        height: 180px;
    }

    .landing,
    .henry,
    .about,
    section {
        height: auto;
        width: auto;
        scroll-snap-align: none;
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }

    .landing-text {
        padding-top: 50px;
    }

    .section-text,
    .landing-text,
    #about-text,
    #whatwedo-text {
        width: 100%;
    }

    #about-image-box,
    #henry-image {
        order: 1;
    }

    .image-box,
    #about-image-box {
        visibility: hidden;
        width: 100%;
        height: auto;
        margin: 0;

        #landing-image,
        #about-image {
            visibility: visible;
            width: 70%;
            height: auto;
            margin: auto;
            align-items: center;
        }
    }

    #henry-image {
        width: 200px;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    #howwework-image,
    #whatwedo-image {
        display: none;
    }

    .services {
        margin-right: 0;
        padding-top: 20px;
    }

    .contact-form {
        width: auto;
        margin: 0;
        border: none;
    }

    .contact2 {
        /* padding: 80px 30px 20px; */
        padding: 300px 30px 20px;
    }

    #link1 {
        display: none;
    }
}